@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*Миксин adaptiv-font*/
/*--------------------*/
@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Semibold.eot") format("embedded-opentype"), url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Medium.eot") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Regular.eot") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Bold.eot") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Extrabold.eot") format("embedded-opentype"), url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff") format("woff"), url("../fonts/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Fredoka One;
  src: url("../fonts/FredokaOne-Regular.eot") format("embedded-opentype"), url("../fonts/FredokaOne-Regular.woff2") format("woff2"), url("../fonts/FredokaOne-Regular.woff") format("woff"), url("../fonts/FredokaOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/*Ширина полотна макета без px*/
body {
  font-family: Gilroy;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*="__container"] {
  max-width: 1170px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 15px;
}

.button {
  color: #374A3D;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  padding: 20px 60px 20px 40px;
  border: 2px solid #0CA941;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all 0.9s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.9s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  background-color: transparent;
}

.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/for-button-arr.svg") right center no-repeat;
  -webkit-transform: translate(-16%, 0);
          transform: translate(-16%, 0);
  -webkit-transition: all 0.9s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.9s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/big-arr.svg") center 0 no-repeat;
  -webkit-transform: translate(120%, 40%) rotate(15deg);
          transform: translate(120%, 40%) rotate(15deg);
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

@media (max-width: 567.98px) {
  .button::after {
    display: none;
  }
}

.button:hover {
  background-color: #0CA941;
}

.button:hover::before {
  -webkit-transform: translate(-8%, 0);
          transform: translate(-8%, 0);
}

.button:hover::after {
  -webkit-transform: translate(100%, 40%) rotate(-1deg);
          transform: translate(100%, 40%) rotate(-1deg);
}

.main {
  position: relative;
}

@media (min-width: 1430px) {
  .main::before {
    content: "";
    position: absolute;
    z-index: 15;
    width: 135px;
    height: 230px;
    top: 0;
    left: 10px;
    background: url("../img/vazon.svg") 0 0 no-repeat;
  }
}

@media (min-width: 768px) {
  .main::after {
    content: "";
    position: absolute;
    z-index: 15;
    width: 514px;
    height: 514px;
    top: 0;
    left: 0;
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
    border-radius: 514.186px;
    background: rgba(83, 195, 81, 0.33);
    -webkit-filter: blur(184px);
            filter: blur(184px);
  }
}

body._lock {
  overflow: hidden;
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 110px;
}

.header__logo {
  border-radius: 50%;
  position: relative;
  z-index: 5;
}

.header__logo span {
  padding-left: 7px;
  color: #374A3D;
  font-size: 32.317px;
  font-style: normal;
  font-weight: 700;
  line-height: 102.741%;
  text-transform: capitalize;
}

.menu__icon {
  display: none;
}

.menu__list > li {
  margin: 0px 0px 0px 42px;
}

.menu__list > li:last-child {
  margin-left: 56px;
}

.menu__link {
  color: #1D3B53;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__button {
  border-radius: 6px;
  border: 2px solid #0CA941;
  background: #0CA941;
  max-width: 110px;
  padding: 10px 30px;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.menu__button:hover {
  color: #0CA941;
  background-color: transparent;
}

@media (min-width: 768px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
}

@media (max-width: 767.98px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    background-color: #fff;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 130px 30px 30px 30px;
    -webkit-transition: left 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    transition: left 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 110px;
    background-color: #000000e0;
    z-index: 2;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__list > li {
    margin: 0 0 40px 0;
    text-align: center;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
    margin-left: 0;
  }
  .header__logo span {
    color: #fff;
  }
  .menu__link {
    font-size: 36px;
    color: #ffffffd5;
    line-height: calc(42 / 34 * 100%);
  }
  .menu__button {
    font-size: 25px;
    max-width: 170px;
    padding: 12px 50px;
  }
}

.home {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 0 0 15px;
}

@media (max-width: 991.98px) {
  .home {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 150px 0 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.home__content {
  max-width: 697px;
  position: relative;
  z-index: 2;
}

.home__title {
  color: #374A3D;
  font-family: Fredoka One;
  font-style: normal;
  font-weight: 400;
  line-height: 105.556%;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .home__title {
    font-size: calc(45px + 45.9* ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .home__title {
    font-size: calc(45px + 27 * (100vw / 1170));
  }
}

.home__title span {
  color: #0CA941;
}

.home__text {
  font-family: Gilroy;
  color: #707070;
  font-style: normal;
  font-weight: 500;
  line-height: 177.778%;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .home__text {
    font-size: calc(16px + 3.4* ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .home__text {
    font-size: calc(16px + 2 * (100vw / 1170));
  }
}

.home__img {
  position: relative;
  max-width: 800px;
  padding-top: 110px;
  padding-left: 40px;
}

.home__img img {
  max-width: 100%;
  position: relative;
  z-index: 2;
}

.home__img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  border-radius: 681.231px;
  background: rgba(255, 233, 120, 0.33);
  -webkit-filter: blur(184px);
          filter: blur(184px);
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

@media (min-width: 992px) {
  .home__img::before {
    z-index: 15;
  }
}

.home__img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 514.186px;
  background: rgba(83, 195, 81, 0.33);
  -webkit-filter: blur(184px);
          filter: blur(184px);
  -webkit-transform: translate(-20%, 50%);
          transform: translate(-20%, 50%);
}

.home::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 90px;
  left: -30px;
  background: url("../img/home/kaktus.png") center bottom no-repeat;
}

@media (max-width: 1179.98px) {
  .home::before {
    display: none;
  }
}

.complete {
  position: relative;
  z-index: 2;
  padding: 60px 15px;
}

.complete__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 48px 40px 48px 160px;
  border-radius: 28px;
  background: #FFF;
  -webkit-box-shadow: 23px 19px 138px -45px rgba(12, 169, 65, 0.13);
          box-shadow: 23px 19px 138px -45px rgba(12, 169, 65, 0.13);
  position: relative;
}

.complete__container::before {
  content: "";
  position: absolute;
  width: 288px;
  height: 350px;
  bottom: 0;
  left: 0;
  background: url("../img/complete/idiplant.png") left 0 no-repeat;
  -webkit-transform: translateX(-35%);
          transform: translateX(-35%);
}

@media (max-width: 1379.98px) {
  .complete__container::before {
    display: none;
  }
}

@media (max-width: 1379.98px) {
  .complete__container {
    padding: 48px 40px;
  }
}

@media (max-width: 991.98px) {
  .complete__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 20px;
  }
}

@media (max-width: 767.98px) {
  .complete__container {
    text-align: center;
  }
}

.complete__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

@media (max-width: 991.98px) {
  .complete__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.complete__title {
  max-width: 310px;
  color: #374A3D;
  font-family: Fredoka One;
  font-weight: 400;
  line-height: 133.333%;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .complete__title {
    font-size: calc(20px + 17* ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .complete__title {
    font-size: calc(20px + 10 * (100vw / 1170));
  }
}

@media (max-width: 991.98px) {
  .complete__title {
    max-width: none;
  }
}

.complete__text {
  max-width: 320px;
  color: #5B7262;
  font-style: normal;
  font-weight: 500;
  line-height: 162.5%;
}

@media (max-width: 767px) {
  .complete__text {
    font-size: calc(14px + 3.4* ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .complete__text {
    font-size: calc(14px + 2 * (100vw / 1170));
  }
}

@media (max-width: 991.98px) {
  .complete__text {
    max-width: none;
  }
}

.complete__statistic {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

@media (max-width: 991.98px) {
  .complete__statistic {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.statistic-complete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 75px;
          column-gap: 75px;
}

@media (max-width: 767.98px) {
  .statistic-complete {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.statistic-complete__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

@media (max-width: 767.98px) {
  .statistic-complete__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .statistic-complete__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.statistic-complete__number {
  color: #0CA941;
  font-weight: 800;
  line-height: 0.7;
  padding: 18px 0;
  background: url("../img/complete/squvear.svg") center left no-repeat;
}

@media (max-width: 767px) {
  .statistic-complete__number {
    font-size: calc(40px + 34* ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .statistic-complete__number {
    font-size: calc(40px + 20 * (100vw / 1170));
  }
}

.statistic-complete__number::after {
  content: "+";
}

@media (max-width: 767.98px) {
  .statistic-complete__number {
    background: url("../img/complete/squvear.svg") center no-repeat;
  }
}

.statistic-complete__text {
  color: #678570;
  font-weight: 600;
  line-height: 32px;
}

@media (max-width: 767px) {
  .statistic-complete__text {
    font-size: calc(16px + 3.4* ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .statistic-complete__text {
    font-size: calc(16px + 2 * (100vw / 1170));
  }
}

.about-us {
  padding: 70px 0 45px 0;
}

.about-us__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
          column-gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.about-us__container::before {
  content: "";
  position: absolute;
  width: 514px;
  height: 514px;
  top: -200px;
  left: -300px;
  background: rgba(83, 195, 81, 0.23);
  -webkit-filter: blur(184px);
          filter: blur(184px);
}

@media (max-width: 991.98px) {
  .about-us__container {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-column-gap: 0;
            column-gap: 0;
    row-gap: 50px;
  }
}

.about-us__image {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about-us__image img {
  max-width: 100%;
}

@media (max-width: 991.98px) {
  .about-us__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.about-us__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about-us__content *:not(:last-child) {
  padding-bottom: 35px;
}

@media (max-width: 991.98px) {
  .about-us__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.about-us__title {
  color: #374A3D;
  font-family: Fredoka One;
  font-weight: 400;
  line-height: 112.222%;
}

@media (max-width: 767px) {
  .about-us__title {
    font-size: calc(25px + 18.7* ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .about-us__title {
    font-size: calc(25px + 11 * (100vw / 1170));
  }
}

.about-us__text {
  color: #678570;
  font-weight: 500;
  line-height: 167%;
}

@media (max-width: 767px) {
  .about-us__text {
    font-size: calc(16px + 3.4* ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .about-us__text {
    font-size: calc(16px + 2 * (100vw / 1170));
  }
}

.service {
  padding: 45px 0;
}

.service__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 105px;
          column-gap: 105px;
}

@media (max-width: 991.98px) {
  .service__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    row-gap: 50px;
  }
}

.service__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 44%;
          flex: 0 1 44%;
}

.service__left > *:not(:last-child) {
  margin-bottom: 32px;
}

.service__title {
  color: #374A3D;
  font-family: Fredoka One;
  font-weight: 400;
  line-height: 156%;
}

@media (max-width: 767px) {
  .service__title {
    font-size: calc(25px + 18.7* ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .service__title {
    font-size: calc(25px + 11 * (100vw / 1170));
  }
}

.service__text {
  color: #678570;
  font-weight: 500;
  line-height: 167%;
}

@media (max-width: 767px) {
  .service__text {
    font-size: calc(16px + 3.4* ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .service__text {
    font-size: calc(16px + 2 * (100vw / 1170));
  }
}

.service__text p:not(:last-child) {
  padding-bottom: 20px;
}

.service__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 56%;
          flex: 0 1 56%;
}

.rigth-service {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 27px;
          column-gap: 27px;
  position: relative;
}

.rigth-service::before {
  content: "";
  position: absolute;
  width: 327px;
  height: 327px;
  top: 20%;
  left: 20%;
  border-radius: 327.142px;
  background: rgba(83, 195, 81, 0.33);
  -webkit-filter: blur(116px);
          filter: blur(116px);
}

.rigth-service::after {
  content: "";
  position: absolute;
  width: 327px;
  height: 327px;
  top: 10%;
  left: 10%;
  border-radius: 324.988px;
  background: rgba(255, 233, 120, 0.33);
  -webkit-filter: blur(125px);
          filter: blur(125px);
}

@media (max-width: 479.98px) {
  .rigth-service {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 0;
            column-gap: 0;
    row-gap: 27px;
  }
}

.rigth-service__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.rigth-service__column_1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.rigth-service__column_1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/service/Vector1.svg") center no-repeat;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.rigth-service__column_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 27px;
  position: relative;
}

.rigth-service__column_2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/service/Vector1.svg") center no-repeat;
  -webkit-transform: translate(50%, 0%) rotate(-21.435deg);
          transform: translate(50%, 0%) rotate(-21.435deg);
}

.rigth-service__column_2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/service/Vector2.svg") center no-repeat;
  -webkit-transform: translate(-50%, -22%);
          transform: translate(-50%, -22%);
}

@media (max-width: 479.98px) {
  .rigth-service__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.rigth-service__item {
  padding: 10px 25px;
  border-radius: 10px;
  background: #FFF;
  -webkit-box-shadow: 8px 9px 42px 0px rgba(12, 169, 65, 0.12);
          box-shadow: 8px 9px 42px 0px rgba(12, 169, 65, 0.12);
  position: relative;
  z-index: 3;
}

.rigth-service__img {
  max-width: 135px;
  margin: 0 auto;
}

.rigth-service__img img {
  max-width: 100%;
}

.rigth-service__title {
  padding-bottom: 13px;
  color: #374A3D;
  font-family: Fredoka One;
  font-weight: 400;
  line-height: 1;
}

@media (max-width: 767px) {
  .rigth-service__title {
    font-size: calc(19px + 8.5* ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .rigth-service__title {
    font-size: calc(19px + 5 * (100vw / 1170));
  }
}

.rigth-service__text {
  color: #678570;
  font-weight: 500;
  line-height: 1.4;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 767px) {
  .rigth-service__text {
    font-size: calc(14px + 3.4* ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .rigth-service__text {
    font-size: calc(14px + 2 * (100vw / 1170));
  }
}

.choose {
  padding: 135px 0 0px;
}

@media (max-width: 767.98px) {
  .choose {
    padding: 65px 0 0px;
  }
}

.choose__title {
  color: #374A3D;
  text-align: center;
  font-family: Fredoka One;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  padding-bottom: 30px;
}

@media (max-width: 767px) {
  .choose__title {
    font-size: calc(22px + 23.8* ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .choose__title {
    font-size: calc(22px + 14 * (100vw / 1170));
  }
}

.choose__subtitle {
  color: #678570;
  text-align: center;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  line-height: 177.778%;
  max-width: 530px;
  margin: 0 auto;
  padding-bottom: 50px;
}

@media (max-width: 767px) {
  .choose__subtitle {
    font-size: calc(16px + 3.4* ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .choose__subtitle {
    font-size: calc(16px + 2 * (100vw / 1170));
  }
}

.choose__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1099.98px) {
  .choose__columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.choose__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 30px 35px;
  border-radius: 37px;
  border: 0.5px solid rgba(0, 0, 0, 0.36);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1099.98px) {
  .choose__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.choose__img {
  text-align: center;
  padding-bottom: 13px;
}

.choose__img img {
  max-width: 100%;
}

.choose__label {
  color: #374A3D;
  text-align: center;
  font-family: Fredoka One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  padding-bottom: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.choose__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding-bottom: 20px;
}

.choose__voices {
  color: #678570;
  text-align: center;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 177%;
  font-variant: small-caps;
}

.choose__item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choose__price {
  color: #678570;
  font-family: Gilroy;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  font-variant: small-caps;
}

.choose__price span {
  display: block;
  color: #0CA941;
  font-family: Fredoka One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  font-variant: small-caps;
}

.choose__button {
  border-radius: 10px;
  border: 0.5px solid rgba(55, 74, 61, 0.36);
  background-color: transparent;
  padding: 10px 20px;
  color: #678570;
  text-align: center;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.choose__button:hover {
  background-color: #0CA941;
  color: #FFF;
}

.contact {
  position: relative;
  padding: 130px 0;
}

@media (max-width: 991.98px) {
  .contact {
    padding: 80px 0;
  }
}

.contact__inner {
  border-radius: 19px;
  background: #F8F8F8;
  padding: 95px 10px 130px;
  text-align: center;
}

.contact__title {
  color: #374A3D;
  font-family: Fredoka One;
  font-weight: 400;
  line-height: 166%;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .contact__title {
    font-size: calc(26px + 13.6* ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .contact__title {
    font-size: calc(26px + 8 * (100vw / 1170));
  }
}

.contact__subtitle {
  color: #678570;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  line-height: 177%;
  margin-bottom: 50px;
  max-width: 626px;
  margin: 0 auto 50px;
}

@media (max-width: 767px) {
  .contact__subtitle {
    font-size: calc(16px + 3.4* ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .contact__subtitle {
    font-size: calc(16px + 2 * (100vw / 1170));
  }
}

.contact__form {
  max-width: 650px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #0CA941;
  background: #FFF;
  border-radius: 10px;
}

@media (max-width: 479.98px) {
  .contact__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.contact__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 81px;
  border-radius: 10px;
  padding: 0 33px;
}

@media (max-width: 479.98px) {
  .contact__input {
    padding: 0;
    text-align: center;
  }
}

.contact__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  min-height: 81px;
  background: #0CA941;
  border-radius: 10px;
  color: #FFF;
  text-align: center;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 177%;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.contact__button:hover {
  background-color: #fff;
  color: #0CA941;
  border-left: 1px solid #0CA941;
}

@media (max-width: 479.98px) {
  .contact__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .contact__button:hover {
    background-color: #fff;
    color: #0CA941;
    border-top: 1px solid #0CA941;
    border-left: 0;
  }
}

.contact::before {
  content: "";
  position: absolute;
  width: 45%;
  height: 45%;
  top: 5%;
  right: 0%;
  border-radius: 514.186px;
  background: rgba(83, 195, 81, 0.33);
  -webkit-filter: blur(184px);
          filter: blur(184px);
}

.contact::after {
  content: "";
  position: absolute;
  width: 45%;
  height: 45%;
  bottom: -20%;
  left: 0;
  border-radius: 414.485px;
  background: rgba(255, 233, 120, 0.33);
  -webkit-filter: blur(184px);
          filter: blur(184px);
}

.footer {
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  width: 590px;
  height: 100%;
  bottom: -60%;
  right: -10%;
  background: rgba(255, 233, 120, 0.33);
  -webkit-filter: blur(184px);
          filter: blur(184px);
}

@media (max-width: 991.98px) {
  .footer::before {
    bottom: -80%;
    background: rgba(255, 233, 120, 0.13);
  }
}

.footer::after {
  content: "";
  position: absolute;
  width: 590px;
  height: 100%;
  bottom: -60%;
  left: -10%;
  background: rgba(83, 195, 81, 0.33);
  -webkit-filter: blur(184px);
          filter: blur(184px);
}

@media (max-width: 991.98px) {
  .footer::after {
    bottom: -80%;
    background: rgba(83, 195, 81, 0.13);
  }
}

.footer__menu {
  margin-bottom: 38px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% (minmax(150px, 1fr))[3];
      grid-template-columns: 40% repeat(3, minmax(150px, 1fr));
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media (max-width: 991.98px) {
  .footer__menu {
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
}

@media (max-width: 479.98px) {
  .footer__menu {
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
}

.footer__hobby {
  padding-right: 10vw;
}

@media (max-width: 479.98px) {
  .footer__hobby {
    padding-right: 0;
  }
}

.footer__title {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  color: #374A3D;
  font-family: Gilroy;
  font-weight: 700;
  line-height: 102%;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .footer__title {
    font-size: calc(25px + 11.9* ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .footer__title {
    font-size: calc(25px + 7 * (100vw / 1170));
  }
}

@media (max-width: 991.98px) {
  .footer__title {
    margin-bottom: 15px;
  }
}

@media (max-width: 479.98px) {
  .footer__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__text {
  color: #678570;
  font-family: Gilroy;
  font-weight: 500;
  line-height: 1.47;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .footer__text {
    font-size: calc(16px + 3.4* ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .footer__text {
    font-size: calc(16px + 2 * (100vw / 1170));
  }
}

@media (max-width: 991.98px) {
  .footer__text {
    margin-bottom: 10px;
  }
}

.footer__images {
  padding-top: 20px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 991.98px) {
  .footer__company {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.footer__label {
  margin-bottom: 20px;
  color: #374A3D;
  font-family: Gilroy;
  font-weight: 700;
  line-height: 1.47;
}

@media (max-width: 767px) {
  .footer__label {
    font-size: calc(20px + 3.4* ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .footer__label {
    font-size: calc(20px + 2 * (100vw / 1170));
  }
}

@media (max-width: 991.98px) {
  .footer__label {
    margin-bottom: 7px;
  }
}

.footer__link a {
  color: #678570;
  font-family: Gilroy;
  font-weight: 500;
  line-height: 1.85;
}

@media (max-width: 767px) {
  .footer__link a {
    font-size: calc(16px + 3.4* ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .footer__link a {
    font-size: calc(16px + 2 * (100vw / 1170));
  }
}

.footer__link a:hover {
  text-decoration: underline;
}

@media (max-width: 991.98px) {
  .footer__link a {
    line-height: 1.55;
  }
}

@media (max-width: 991.98px) {
  .footer__support {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.footer__sublabel {
  color: #374A3D;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
}

.footer__about {
  color: #678570;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.footer__about:hover {
  text-decoration: underline;
}

.footer__plants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__plants img {
  max-width: 100%;
}
