@import "_nullstyle";
@import "_fonts";

$maxWidth: 1170;
/*Ширина полотна макета без px*/
@mixin adaptiv-font($pcSize, $mobSize) { 
$addSize: $pcSize - $mobSize;
$addMobSize: $addSize + $addSize * 0.7; 
    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize}* ((100vw - 320px) / #{$maxWidth}));
    }
    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}

//================================================================================================
body {
    font-family: Gilroy;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 1170px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 15px;
}

.button {
    color: #374A3D;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    padding: 20px 60px 20px 40px;
    border: 2px solid #0CA941;
    border-radius: 50%;
    position: relative;
    transition: all 0.9s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    background-color: transparent;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url("../img/for-button-arr.svg") right center no-repeat;
        transform: translate(-16%, 0);
        transition: all 0.9s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    }
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url("../img/big-arr.svg") center 0 no-repeat;
        transform: translate(120%, 40%) rotate(15deg);
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
        @media (max-width: 567.98px) {
            display: none;
        }
    }
    &:hover {
        background-color: #0CA941;
        &::before {
            transform: translate(-8%, 0);
        }
        &::after {
            transform: translate(100%, 40%) rotate(-1deg);
        }
    }
}

//================================================================================================
.main {
    position: relative;
    @media (min-width: 1430px) {
        &::before {
            content: "";
            position: absolute;
            z-index: 15;
            width: 135px;
            height: 230px;
            top: 0;
            left: 10px;
            background: url("../img/vazon.svg") 0 0 no-repeat;
        }
    }
    @media (min-width: 768px) {
        &::after {
            content: "";
            position: absolute;
            z-index: 15;
            width: 514px;
            height: 514px;
            top: 0;
            left: 0;
            transform: translate(-50%, -30%);
            border-radius: 514.186px;
            background: rgba(83, 195, 81, 0.33);
            filter: blur(184px);
        }
    }
}
//!HEADER ===============================================================================================
body._lock {
    overflow: hidden;
    // убрать скрол странички в бургере
}

.header {
    background-color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        min-height: 110px;
    }

    &__logo {
        border-radius: 50%;
        position: relative;
        z-index: 5;
        & span {
            padding-left: 7px;
            color: #374A3D;
            font-size: 32.317px;
            font-style: normal;
            font-weight: 700;
            line-height: 102.741%;
            text-transform: capitalize;
        }
    }

    &__menu {
    }
}
.menu {

    &__icon {
        display: none;
    }

    &__body {
    }

    &__list > li{
        margin: 0px 0px 0px 42px;
        &:last-child {
            margin-left: 56px;
        }
    }

    &__item {
    }

    &__link{
        color: #1D3B53;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        &:hover {
            text-decoration: underline;
        }
    }

    &__button{
        border-radius: 6px;
        border: 2px solid #0CA941;
        background: #0CA941;
        max-width: 110px;
        padding: 10px 30px;
        color: #FFF;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
        &:hover {
            color: #0CA941;
            background-color: transparent;
        }
    }
}
// mobile-first
@media (min-width: 768px) { 
    .menu__list {
        display: flex; 
        align-items: center;
    }

    .menu__list > li {
        padding: 10px 0;
    }
}

@media (max-width: 767.98px) {
    .menu__icon { 
        z-index: 5;
        display: block; 
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after { 
        left: 0;
        position: absolute;
        background-color: #fff;
        height: 10%;
        width: 100%;
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    }

    .menu__icon::before, 
    .menu__icon::after { 
        content: "";
    }

    .menu__icon::before { 
        top: 0;
    }
    .menu__icon::after { 
        bottom: 0;
    } 
    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon._active {
        & span {
            transform: scale(0) translate(0px, -50%);
        }
        &::before {
            top: 50%;
            transform: rotate(-45deg) translate(0, -50%);
        }
        &::after {
            bottom: 50%;
            transform: rotate(45deg) translate(0, 50%);
        }
    }

    .menu__body {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        //background
        background-color: rgba(0, 0, 0, 0.9);
        padding: 130px 30px 30px 30px;
        transition: left 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
        overflow: auto; 
        // для скролла большого меню
        &::before {
            content: "";
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            height: 110px;
            // по высоте шапки
            background-color: #000000e0;
            // цвет шапки
            z-index: 2;
        }

        &._active {
            left: 0;
        }
    }

    .menu__list > li {
        margin: 0 0 40px 0;
        text-align: center;
        &:last-child {
            margin-bottom: 0;
            margin-left: 0;
        }
    }

    .header__logo span{
        color: #fff;
    }

    .menu__link {
        font-size: 36px;
        color: #ffffffd5;
        line-height: calc(42 / 34 * 100%);
    }

    .menu__button {
        font-size: 25px;
        max-width: 170px;
        padding: 12px 50px;
    }
}

//================================================================================================

.home {
    //overflow: hidden;
    min-height: 100vh;

    display: flex;
    align-items: center;
    position: relative;

    padding: 0 0 0 15px;

    @media (max-width: 991.98px) {
        flex-wrap: wrap;
        padding: 150px 0 20px;
        justify-content: center;
        text-align: center;
    }

    &__container {
        //display: flex;
        //align-items: center;
    }

    &__content {
        max-width: 697px;
        position: relative;
        z-index: 2;
    }

    &__title {
        color: #374A3D;
        font-family: Fredoka One;
        @include adaptiv-font (72, 45);
        font-style: normal;
        font-weight: 400;
        line-height: 105.556%;
        margin-bottom: 40px;
        & span {
            color: #0CA941;
        }
    }

    &__text {
        font-family: Gilroy;
        color: #707070;
        @include adaptiv-font (18, 16);
        font-style: normal;
        font-weight: 500;
        line-height: 177.778%;
        margin-bottom: 50px;
    }

    &__button {
    }

    &__img {
        position: relative;
        max-width: 800px;
        padding-top: 110px;
        padding-left: 40px;
        & img {
            max-width: 100%;
            position: relative;
            z-index: 2;
        }
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 50%;
            border-radius: 681.231px;
            background: rgba(255, 233, 120, 0.33);
            filter: blur(184px);
            transform: translate(50%, -50%);
            @media (min-width: 992px) {
                z-index: 15;
            }
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 514.186px;
            background: rgba(83, 195, 81, 0.33);
            filter: blur(184px);
            transform: translate(-20%, 50%);
        }
    }

    &::before {
        content: "";
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 90px;
        left: -30px;
        background: url("../img/home/kaktus.png") center bottom no-repeat;
        @media (max-width: 1179.98px) {
            display: none;
        }
    }
}

//================================================================================================
.complete {
    position: relative;
    z-index: 2;
    padding: 60px 15px;
    

    &__container {
        display: flex;
        column-gap: 100px;
        align-items: center;
        justify-content: space-between;

        padding: 48px 40px 48px 160px;

        border-radius: 28px;
        background: #FFF;
        box-shadow: 23px 19px 138px -45px rgba(12, 169, 65, 0.13);

        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 288px;
            height: 350px;
            bottom: 0;
            left: 0;
            background: url("../img/complete/idiplant.png") left 0 no-repeat;
            transform: translateX(-35%);
            @media (max-width: 1379.98px) {
                display: none;
            }
        }

        @media (max-width: 1379.98px) {
            padding: 48px 40px;
        }

        @media (max-width: 991.98px) {
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 20px;
        }
        @media (max-width: 767.98px) {
            text-align: center;
        }
    }

    &__body {
        flex: 0 1 30%;
        @media (max-width: 991.98px) {
            flex: 1 1 100%;
        }
    }

    &__title {
        max-width: 310px;
        color: #374A3D;
        font-family: Fredoka One;
        @include adaptiv-font (30, 20);
        font-weight: 400;
        line-height: 133.333%;
        margin-bottom: 10px;
        @media (max-width: 991.98px) {
            max-width: none;
        }
    }

    &__text {
        max-width: 320px;
        color: #5B7262;
        @include adaptiv-font (16, 14);
        font-style: normal;
        font-weight: 500;
        line-height: 162.5%;
        @media (max-width: 991.98px) {
            max-width: none;
        }
    }

    &__statistic {
        flex: 0 1 70%;
        @media (max-width: 991.98px) {
            flex: 1 1 100%;
        }
    }
}
.statistic-complete {
    display: flex;
    column-gap: 75px;

    @media (max-width: 767.98px) {
        flex-wrap: wrap;
    }

    &__item {
        flex: 0 1 33.333%;
        @media (max-width: 767.98px) {
            flex: 1 1 100%;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

    &__number {
        color: #0CA941;
        @include adaptiv-font (60, 40);
        font-weight: 800;
        line-height: 0.7;

        padding: 18px 0;
        background: url("../img/complete/squvear.svg") center left no-repeat;

        &::after {
            content: "+";
        }
        @media (max-width: 767.98px) {
            background: url("../img/complete/squvear.svg") center no-repeat;
            
        }
    }

    &__text {
        color: #678570;
        @include adaptiv-font (18, 16);
        font-weight: 600;
        line-height: 32px;
    }
}

//================================================================================================
.about-us {
    padding: 70px 0 45px 0;

    &__container {
        display: flex;  
        column-gap: 60px;
        align-items: center;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 514px;
            height: 514px;
            top: -200px;
            left: -300px;
            background: rgba(83, 195, 81, 0.23);
            filter: blur(184px);
        }
        @media (max-width: 991.98px) {
            flex-wrap: wrap-reverse;
            justify-content: center;
            text-align: center;
            column-gap: 0;
            row-gap: 50px;
        }
    }

    &__image {
        position: relative;
        z-index: 2;
        flex: 0 1 50%;

        & img {
            max-width: 100%;
        }
        @media (max-width: 991.98px) {
            flex: 1 1 100%;
        }
    }

    &__content {
        flex: 0 1 50%;

        & *:not(:last-child) {
            padding-bottom: 35px;
        }
        @media (max-width: 991.98px) {
            flex: 1 1 100%;
        }       
    }

    &__title {
        color: #374A3D;
        font-family: Fredoka One;
        @include adaptiv-font (36, 25);
        font-weight: 400;
        line-height: 112.222%;
    }

    &__text {
        color: #678570;
        @include adaptiv-font (18, 16);
        font-weight: 500;
        line-height: 167%;
    }

    &__button {
    }
}
//================================================================================================

.service {
    padding: 45px 0;

    &__container {
        display: flex;
        align-items: center;
        column-gap: 105px;
        @media (max-width: 991.98px) {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            row-gap: 50px;
        }
    }

    &__left {
        flex: 0 1 44%;
        & >*:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    &__title {
        color: #374A3D;
        font-family: Fredoka One;
        @include adaptiv-font (36, 25);
        font-weight: 400;
        line-height: 156%;
    }

    &__text {
        color: #678570;
        @include adaptiv-font (18, 16);
        font-weight: 500;
        line-height: 167%;
        & p:not(:last-child) {
            padding-bottom: 20px;
        }
    }

    &__button {
    }

    &__right {
        flex: 0 1 56%;
    }
} 

.rigth-service {
    text-align: center;

    display: flex;
    column-gap: 27px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 327px;
        height: 327px;
        top: 20%;
        left: 20%;
        border-radius: 327.142px;
        background: rgba(83, 195, 81, 0.33);
        filter: blur(116px);
    }
    &::after {
        content: "";
        position: absolute;
        width: 327px;
        height: 327px;
        top: 10%;
        left: 10%;
        border-radius: 324.988px;
        background: rgba(255, 233, 120, 0.33);
        filter: blur(125px);
    }

    @media (max-width: 479.98px) {
        flex-wrap: wrap;
        column-gap: 0;
        row-gap: 27px;
    }
   
    &__column {
        flex: 0 1 50%;
        
        &_1 {
            align-self: center;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: url("../img/service/Vector1.svg") center no-repeat;
                transform: translate(50%, 50%);
            }
        }
        &_2 {
            display: flex;
            flex-direction: column;
            row-gap: 27px;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: url("../img/service/Vector1.svg") center no-repeat;
                transform: translate(50%, -0%) rotate(-21.435deg);
            }
            &::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: url("../img/service/Vector2.svg") center no-repeat;
                transform: translate(-50%, -22%);
            }
        }
        @media (max-width: 479.98px) {
            flex: 1 1 100%;
        }
    }

    &__item {
        padding: 10px 25px;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 8px 9px 42px 0px rgba(12, 169, 65, 0.12);
        position: relative;
        z-index: 3;
    }

    &__img {
        max-width: 135px;
        margin: 0 auto;
        & img {
            max-width: 100%;
        }
    }

    &__title {
        padding-bottom: 13px;
        color: #374A3D;
        font-family: Fredoka One;
        @include adaptiv-font (24, 19);
        font-weight: 400;
        line-height: 1;
    }

    &__text {
        color: #678570;
        @include adaptiv-font (16, 14);
        font-weight: 500;
        line-height: 1.4;
        
        flex: 1 1 auto;
    }
}
//================================================================================================

.choose {
    padding: 135px 0 0px;
    @media (max-width: 767.98px) {
        padding: 65px 0 0px;
    }

    &__container {
    }

    &__title {
        color: #374A3D;
        text-align: center;
        font-family: Fredoka One;
        @include adaptiv-font (36, 22);
        font-style: normal;
        font-weight: 400;
        line-height: 166.667%;
        padding-bottom: 30px;
    }

    &__subtitle {
        color: #678570;
        text-align: center;
        font-family: Gilroy;
        @include adaptiv-font (18, 16);
        font-style: normal;
        font-weight: 500;
        line-height: 177.778%;
        max-width: 530px;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    &__columns {
        display: flex;
        gap: 45px;
        justify-content: center;
        @media (max-width: 1099.98px) {
            flex-wrap: wrap;
        }
    }

    &__item {
        flex: 0 1 33.333%;
        padding: 30px 35px;
        border-radius: 37px;
        border: 0.5px solid rgba(0, 0, 0, 0.36);

        display: flex;
        flex-direction: column;

        @media (max-width: 1099.98px) {
            flex: 1 1 auto;
        }
    }

    &__img {
        text-align: center;
        padding-bottom: 13px;
        & img {
            max-width: 100%;
        }
    }

    &__label {
        color: #374A3D;
        text-align: center;
        font-family: Fredoka One;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25;
        padding-bottom: 5px;

        flex: 1 1 auto;
    }

    &__rating {
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding-bottom: 20px;
    }

    &__stars {
    }

    &__voices {
        color: #678570;
        text-align: center;
        font-family: Gilroy;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 177%;
        font-variant: small-caps;
    }

    &__item-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__price {
        color: #678570;
        font-family: Gilroy;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        font-variant: small-caps;
        & span {
            display: block;
            color: #0CA941;
            font-family: Fredoka One;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            font-variant: small-caps;
        }
    }

    &__button {
        border-radius: 10px;
        border: 0.5px solid rgba(55, 74, 61, 0.36);    
        background-color: transparent;
        padding: 10px 20px; 
        color: #678570;
        text-align: center;
        font-family: Gilroy;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5;
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
        &:hover {
            background-color: #0CA941;
            color: #FFF;
        }
    }
}
//================================================================================================

.contact {
    position: relative;
    padding: 130px 0;
    @media (max-width: 991.98px) {
        padding: 80px 0;
    }

    &__container {
    }

    &__inner {
        border-radius: 19px;
        background: #F8F8F8;
        padding: 95px 10px 130px;
        text-align: center;
    }

    &__title {
        color: #374A3D;
        font-family: Fredoka One;
        @include adaptiv-font (34, 26);
        font-weight: 400;
        line-height: 166%;
        margin-bottom: 30px;
    }

    &__subtitle {
        color: #678570;
        font-family: Gilroy;
        @include adaptiv-font (18, 16);
        font-style: normal;
        font-weight: 500;
        line-height: 177%;
        margin-bottom: 50px;
        max-width: 626px;
        margin: 0 auto 50px;
    }

    &__form {
        max-width: 650px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        border: 1px solid #0CA941; 
        background: #FFF;
        border-radius: 10px;
        @media (max-width: 479.98px) {
            flex-direction: column;
            align-items: stretch;
        }
    }

    &__input {
        flex: 1 1 auto;
        min-height: 81px;  
        border-radius: 10px;
        padding: 0 33px;
        @media (max-width: 479.98px) {
            padding: 0;
            text-align: center;
        }
    }

    &__button {
        flex: 0 1 33.333%;
        min-height: 81px;
        background: #0CA941;
        border-radius: 10px;

        color: #FFF;
        text-align: center;
        font-family: Gilroy;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 177%;
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;

        &:hover {
            background-color: #fff;
            color: #0CA941;
            border-left: 1px solid #0CA941; 
        }
        @media (max-width: 479.98px) {
            flex: 1 1 100%;
            &:hover {
                background-color: #fff;
                color: #0CA941;
                border-top: 1px solid #0CA941; 
                border-left: 0;
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        width: 45%;
        height: 45%;
        top: 5%;
        right: 0%;
        border-radius: 514.186px;
        background: rgba(83, 195, 81, 0.33);
        filter: blur(184px);
    }
    &::after {
        content: "";
        position: absolute;
        width: 45%;
        height: 45%;
        bottom: -20%;
        left: 0;
        border-radius: 414.485px;
        background: rgba(255, 233, 120, 0.33);
        filter: blur(184px);
    }
}

//================================================================================================
.footer {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 590px;
        height: 100%;
        bottom: -60%;
        right: -10%;
        background: rgba(255, 233, 120, 0.33);
        filter: blur(184px);
        @media (max-width: 991.98px) {
            bottom: -80%;
            background: rgba(255, 233, 120, 0.13);
        }
    }
    &::after {
        content: "";
        position: absolute;
        width: 590px;
        height: 100%;
        bottom: -60%;
        left: -10%;
        background: rgba(83, 195, 81, 0.33);
        filter: blur(184px);
        @media (max-width: 991.98px) {
            bottom: -80%;
            background: rgba(83, 195, 81, 0.13);

        }
    }

    &__container {
    }

    &__menu {
        margin-bottom: 38px;
        display: grid;
        grid-template-columns: 40% repeat(3, minmax(150px, 1fr));
        column-gap: 20px;
        @media (max-width: 991.98px) {
            grid-template-rows: repeat(2, auto);
            grid-template-columns: repeat(2,1fr);
            row-gap: 30px;
        }
        @media (max-width: 479.98px) {
            grid-template-rows: repeat(4,1fr);
            grid-template-columns: 1fr;
            text-align: center;
        }
    }

    &__hobby {
        padding-right: 10vw;
        @media (max-width: 479.98px) {
            padding-right: 0;
        }
    }

    &__title {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        column-gap: 5px;

        color: #374A3D;
        font-family: Gilroy;
        @include adaptiv-font (32, 25);
        font-weight: 700;
        line-height: 102%;
        text-transform: capitalize;
        @media (max-width: 991.98px) {
            margin-bottom: 15px;
        }
        @media (max-width: 479.98px) {
            justify-content: center;
        }
    }

    &__text {
        color: #678570;
        font-family: Gilroy;
        @include adaptiv-font (18, 16);
        font-weight: 500;
        line-height: 1.47;
        margin-bottom: 30px;
        @media (max-width: 991.98px) {
            margin-bottom: 10px;
        }
    }

    &__images{
        padding-top: 20px;
    }

    &__links {
        display: flex;
        flex-direction: column;
    }

    &__company {
        @media (max-width: 991.98px) {
            order: 3;
        }
    }

    &__label {
        margin-bottom: 20px;
        color: #374A3D;
        font-family: Gilroy;
        @include adaptiv-font (22, 20);
        font-weight: 700;
        line-height: 1.47;
        @media (max-width: 991.98px) {
            margin-bottom: 7px;
        }
    }

    &__link a {
        color: #678570;
        font-family: Gilroy;
        @include adaptiv-font (18, 16);
        font-weight: 500;
        line-height: 1.85;
        &:hover {
            text-decoration: underline;
        }
        @media (max-width: 991.98px) {
            line-height: 1.55;
        }
    }

    &__support {
        @media (max-width: 991.98px) {
            order: 2;
        }
    }

    &__contact {
        
    }

    &__sublabel {
        color: #374A3D;
        font-family: Gilroy;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.8;
    }

    &__about {
        color: #678570;
        font-family: Gilroy;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
        &:hover {
            text-decoration: underline;
        }
    }

    &__plants {
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
            max-width: 100%;
        }
    }
}
